@model IEnumerable<Dominio.Planta>

@{ ViewData["title"] = "ListarPlantaPorTexto";
}

<h1>Filtrar Lista de Plantas por texto en los Nombres</h1>


@if (Model.Count() == 0)
{
    <p>No hay plantas para mostrar que cumplan con el filtro</p>
    <div>
        <a asp-action="ListarPlanta"> Volver a la lista de plantas </a>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NombreTipo)</th>
                <th>@Html.DisplayNameFor(model => model.NombreCientifico)</th>
                <th>@Html.DisplayNameFor(model => model.NombresVulgares)</th>
                <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
                <th>@Html.DisplayNameFor(model => model.Ambiente)</th>
                <th>@Html.DisplayNameFor(model => model.AlturaMaxima)</th>
                <th>@Html.DisplayNameFor(model => model.FotoPlanta)</th>
                <th>@Html.DisplayNameFor(model => model.FichaCuidados)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@Html.DisplayFor(modelitem => item.NombreTipo)</th>
                    <th>@Html.DisplayFor(modelitem => item.NombreCientifico)</th>
                    <th>@Html.DisplayFor(modelitem => item.NombresVulgares)</th>
                    <th>@Html.DisplayFor(modelitem => item.Descripcion)</th>
                    <th>@Html.DisplayFor(modelitem => item.Ambiente)</th>
                    <th>@Html.DisplayFor(modelitem => item.AlturaMaxima)</th>
                    <th><a asp-action="VisualisarImagen" asp-route-nombre="@item.NombreCientifico">Ver Imagen</a></th>
                    <th><a asp-action="FichaCuidados" asp-route-nombre="@item.NombreCientifico">Ver Ficha de Cuidados</a></th>

                </tr>
            }
        </tbody>
    </table>
}